[submodule "protobufs"]
	path = protobufs
	url = https://github.com/pquimby/protobufs.git
	branch = develop
[submodule "meshtestic"]
	path = meshtestic
	url = https://github.com/meshtastic/meshTestic
